.grid_container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 1rem;
   padding-bottom: 1rem;
   padding: 1rem;
}

@media only screen and (max-width: 1100px) {
   .grid_container {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media only screen and (max-width: 750px) {
   .grid_container {
      grid-template-columns: repeat(1, 1fr);
   }
}
