* {
   font-family: "Poppins", sans-serif;
   box-sizing: border-box;
   margin: 0;
   padding: 0;

   color: var(--color-txt-pr);
}

:root {
   /* Colors */
   --color-accent-pr: #9a9afd;
   --color-accent-sd: #bbbbea;

   --color-accent-light-pr: #b1b1de;
   --color-accent-light-sd: #ece1ef;

   --color-txt-pr: #1d1d1d;
   --color-txt-light-pr: #fff;

   /* Others */
   --content-height: 90vh;
   --navbar-height: 10vh;
}

/* width */
::-webkit-scrollbar {
   width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
   background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: var(--color-accent-pr);
   border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: var(--color-accent-light-pr);
}
